Source: vyatta-snmp-vrf-agent
Section: net
Priority: optional
Build-Depends: debhelper (>= 9.20160709), autoconf, autotools-dev, debianutils (>=1.13.1),
 dh-autoreconf,
 bvnos-linux-libc-dev, libsnmp-dev, libvrfmanager-vyatta-dev, pkg-config
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Standards-Version: 3.9.8

Package: vyatta-snmp-vrf-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base (>= 3.0-6)
Description: Vyatta SNMP agentx module
 Provides routing instance aware versions of supports MIB's.
 .
